.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }
  
  .container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .head {
    width: 100%;
    margin: 1rem 0;
  }
  
  .title {
    font-size: 3rem;
    color: var(--dark-grey);
    margin: 0 0.5rem;
  }
  
  .main {
    width: 100%;
  }
  
  .accordion {
      padding: 0.25rem 0;
      margin: 0.75rem 0;
  }
  
  .summary {
    font-weight: 600;
    font-size: 1.2rem;
    color: var(--dark-grey);
  }
  
  .details {
    font-size: 1.1rem;
    width: 95%;
  }
  
  .skeletonWrapper {
    width: 70%;
    margin: auto;
  }
  
  @keyframes shimmer {
    from {
      background-position: 200% 0;
    }
    to {
      background-position: -200% 0;
    }
  }
  
  @media (max-width: 48rem) {
     .wrapper {
      margin: 0 0 3rem 0;
    }
  
    .title {
      font-size: 2rem;
    }

  
    .summary {
      font-size: 0.9rem;
    }
  
    .details {
      font-size: 0.8rem;
    }
    .skeletonWrapper {
      width: 100%;
      margin: auto;
    }
  }
  