.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.heroImage {
  background-image: url(../../../public/Images/ZakatPageBG.png);
  height: 30rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  max-width: 1200px;
  color: white;
  margin-top: 8rem;
  gap: 1rem;
  color: #5c6357;
}

.content h2 {
  letter-spacing: 0.03em;
  font-size: 2rem;
}

.content h3 {
  letter-spacing: 0.1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.content p {
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: light;
}

@media (max-width: 973px) {
  .content {
    margin-top: 6rem;
    width: 80%;
  }
  .content h2 {
    letter-spacing: 0;
    font-size: 1.8rem;
  }

  .content h3 {
    letter-spacing: 0;
    font-size: 1rem;
  }

  .content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 48rem) {
  .content h3 {
    font-size: 0.9rem;
  }
}
