.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.heroImage {
  background-image: linear-gradient(rgba(0, 0, 0.5, 0), rgba(0, 0, 0, 0.5)),
    url(../../../../public/Images/Hadith/DetailsBg.png);
  height: 28rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 3;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.headings {
  letter-spacing: 0.15rem;
  font-size: 2.5rem;
}

.shimmer {
  background: linear-gradient(90deg, #ececec 25%, #f5f5f5 50%, #ececec 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

.title{
  height: 24px;
  width: 300px;
  margin-bottom: 2rem;
  border-radius: 6px;
  composes: shimmer;
}

@media (max-width: 973px) {
  .headings {
    font-size: 2rem;
  }
}

@media (max-width: 768rem) {
  .headings {
    font-size: 2rem;
  }
}

@media (max-width: 460rem) {
  .title{
  height: 24px;
  width: 200px;
}

.content{
  margin-bottom: 3rem;
}
  .headings {
    font-size: 1.5rem;
  }
}
