.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 2rem 0 8rem 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.content h3 {
  font-size: 2.5rem;
  color: #2C7DA0;
}

.content h5 {
    font-size: 1.5rem;
    color: black;
    font-weight: medium;
}

.content img {
  width: auto;
  height: 280px;
}

.content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 70%;
  color: #5c6357;
}
.content a {
  color: rgb(198, 158, 48, 0.87);
}

@media (max-width: 750px) {
  .content h3 {
    font-size: 2.2rem;
  }

  .content h5 {
    font-size: 1.2rem;
  }

  .content img {
    width: auto;
    height: 220px;
  }

  .content p {
    font-size: 1.2rem;
    width: 70%;
  }
}

@media (max-width: 530px) {
  .content h3 {
    font-size: 2rem;
  }

  .content h5 {
    font-size: 1rem;
  }

  .content img {
    width: auto;
    height: 180px;
  }

  .content p {
    font-size: 1rem;
    width: 70%;
  }
}

@media (max-width: 440px) {
  .content h3 {
    font-size: 1.8rem;
  }

  .content h5 {
    font-size: .9rem;
  }

  .content img {
    width: auto;
    height: 150px;
  }

  .content p {
    font-size: .9rem;
    width: 70%;
  }
}

@media (max-width: 395px) {
  .content h3 {
    font-size: 1.5rem;
  }

  .content h5 {
    font-size: .8rem;
  }

  .content img {
    width: auto;
    height: 150px;
  }

  .content p {
    font-size: .9rem;
    width: 80%;
  }
}

@media (max-width: 345px) {
  .content p {
    font-size: .9rem;
    width: 90%;
  }
}

