.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 2rem 0 5rem 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  /* width: 80%; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.content h1 {
  font-size: 1.5rem;
  color: #5c6357;
}

.content h4 {
  font-size: 1.1rem;
  color: rgb(198, 158, 48, 0.8);
  width: 80%;
  font-weight: medium;
}

.content img {
  width: auto;
  height: 100px;
}

@media (max-width: 750px) {
  .content h1 {
    font-size: 1.2rem;
  }

  .content h4 {
    font-size: 1rem;
  }

  .content img {
    width: auto;
    height: 90px;
  }
}

@media (max-width: 600px) {
  .content h1 {
    font-size: 1.1rem;
  }

  .content h4 {
    font-size: 0.9rem;
  }

  .content img {
    width: auto;
    height: 90px;
  }
}
