.searchbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: 45%;
}

.search {
  width: 100%;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--light-grey);
  font-size: 1rem;
  border-radius: 20px;
  margin: 0;
}

.searchIcon {
  position: absolute;
  left: 10px;
  font-size: 1rem;
  color: #bbb;
  cursor: pointer;
}

.searchbar svg {
  width: 1rem;
  height: 1rem;
  margin-left: .5rem;
}

@media (max-width: 1080px) {
      .searchbar {
  width: 60%;
}

  .search {
    font-size: 0.9rem;
  }

  .searchIcon {
    font-size: 0.9rem;
  }

  .searchbar svg {

  margin-left: .3rem;
}
}

@media (max-width: 973px) {

    .searchbar {
  width: 55%;
}

  .search {
    padding: 0.4rem 2.5rem;
  }

  .search {
    font-size: 0.8rem;
  }

  .searchIcon {
    font-size: 0.8rem;
  }
}

@media (max-width: 700px) {

    .searchbar {
  width: 50%;
}

  .search {
    font-size: 0.7rem;
  }

  .searchIcon {
    font-size: 0.7rem;
  }
}

@media (max-width: 730px) {
   .search {
    padding: 0.3rem 2.5rem;
  }

    .searchbar svg {

  margin-left: .2rem;
}
}

@media (max-width: 600px) {
  .searchbar {
  width: 100%;
}

  .search {
    font-size: 0.8rem;
  }

  .searchIcon {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {

}

@media (max-width: 370px) {
  .search {
    /* padding: 0.2rem 8rem 0.2rem 1rem; */
    font-size: 0.7rem;
  }
}
