.wrapper { 
  width: 100%;
  background: linear-gradient(
      45deg,
      transparent 34%,
      rgba(211, 211, 216, 0.25) 35%,
      rgba(211, 211, 216, 0.25) 40%,
      transparent 41%,
      transparent 59%,
      rgba(211, 211, 216, 0.25) 60%,
      rgba(211, 211, 216, 0.25) 65%,
      transparent 66%
    ),
    linear-gradient(
      135deg,
      transparent 34%,
      rgba(211, 211, 216, 0.25) 35%,
      rgba(211, 211, 216, 0.25) 40%,
      transparent 41%,
      transparent 59%,
      rgba(211, 211, 216, 0.25) 60%,
      rgba(211, 211, 216, 0.25) 65%,
      transparent 66%
    );
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;
}

.container {
  position: relative;
  z-index: 5;
  padding: 2rem 1.5rem;
  margin-top: 15rem;
}

@media (max-width: 768px) {
.container {
  padding: 2rem 1rem;
}
}

@media (max-width: 600px) {
.container {
  padding: 2rem .5rem;
}
}

@media (max-width: 400px) {
.container {
  padding: 2rem .2rem;
}
}