.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 90%;
}

.main {
  display: flex;
}

.headings {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0;
}

.svgIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #003845;
  border-radius: 10px;
  padding: 3px;
  background-color: #003845;
}

.svgIcon svg {
  color: white;
  height: 1.6rem;
  width: 1.6rem;
}

.headings h2 {
  font-size: 2rem;
  color: #003845;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.5rem;
  margin-top: 3rem;
  padding: 2rem 3rem;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: white;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: 100px;
  border-radius: 0 10px 10px 0;
  padding: 0 2rem;
  cursor: pointer;
}

.bookNames h3 {
  font-size: 1.8rem;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.bookNames h4 {
  font-weight: 500;
  font-size: 1.25rem;
}

.bookName {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.details svg {
  width: 2rem;
  height: 2rem;
}

.bg1 {
  background-color: #7d887a;
}

.bg2 {
  background-color: rgba(98, 137, 134, 0.7);
}

.bg3 {
  background-color: #7cafa4;
}

@media (max-width: 1100px) {


  .cardContainer {
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .details svg {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 768px) {
  .details {
    height: 80px;
    padding: 0 0.9rem;
  }

  .card img {
    height: 80px;
  }

  .bookNames h3 {
    font-size: 1.2rem;
    letter-spacing: 0;
  }

  .bookNames h4 {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  .wrapper {
    margin-top: 3rem;
  }

  .headings h2 {
    font-size: 1.8rem;
  }

  .cardContainer {
    grid-template-columns: 1fr;
    gap: 2rem;
    /* padding-right: 5rem; */
  }

  .details {
    height: 80px;
    padding: 0 0.9rem;
  }

  .card img {
    height: 80px;
  }

  .bookNames h3 {
    font-size: 1.8rem;
    letter-spacing: 0;
  }

  .bookNames h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 510px) {
  .details {
    height: 80px;
    padding: 0 0.9rem;
  }

  .card img {
    height: 80px;
  }
  .bookNames h3 {
    font-size: 1.2rem;
    letter-spacing: 0;
  }

  .bookNames h4 {
    font-size: 1rem;
  }
}

@media (max-width: 390px) {
  .wrapper {
    margin-top: 2rem;
  }

  .details {
    height: 80px;
    padding: 0 1.2rem;
  }

  .bookNames h3 {
    font-size: 1rem;
  }

  .bookNames h4 {
    font-size: 1rem;
  }

  .details svg {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (max-width: 350px) {
  .headings {
    gap: 1rem;
  }

  .svgIcon {
    width: 2rem;
    height: 2rem;
    padding: 3px;
  }

  .svgIcon svg {
    height: 1.3rem;
    width: 1.3rem;
  }
  .headings h2 {
    font-size: 1.5rem;
  }

  .bookNames h3 {
    font-size: 1rem;
  }

  .bookNames h4 {
    font-size: 0.7rem;
  }
}
