.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
 margin: 2rem 0 ;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 90%;
}

.main {
  display: flex;
  flex-direction: column;
}

.headings{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.svgIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #003845;
  border-radius: 10px;
  padding: 3px;
  background-color: #003845; 
}

.svgIcon svg{
  color: white ;
  height: 1.6rem;
  width: 1.6rem;
}

.headings h2 {
  font-size: 2rem;
  color: #003845;
}


.listContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1rem;
  overflow-x: scroll;
  overflow-y: hidden; /* prevent vertical scroll if not needed */
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;
}
.listContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.listContainer li {
    width: max-content;
  padding: 0.2rem 1rem;
  border: solid 1px rgb(122, 96, 79,0.86);
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(122, 96, 79,0.86);
  cursor: pointer;
  font-weight: bold;
}

.listContainer li:hover {
background-color: rgb(122, 96, 79,0.86);
  color: white;
  border: solid 1px rgb(122, 96, 79,0.86);
}


.container hr {
  width: 100%;
  color: var(--light-grey);
}


@media (max-width: 650px) {
  .headings h2 {
    font-size: 1.8rem;
  }
}

@media (max-width: 350px) {

  .headings {
  gap: 1rem;
}

  .svgIcon {
  width: 2rem;
  height: 2rem;
  padding: 3px;
}

.svgIcon svg {
  height: 1.3rem;
  width: 1.3rem;
}
     .headings h2 {
    font-size: 1.5rem;
  }
}