.Wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 3rem 0 4rem 0;
}

.Container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 70%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
}

.content h2 {
  letter-spacing: 0.04em;
  font-size: 2.5rem;
  color: #5c6357;
}

.content h3 {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

.content p {
  letter-spacing: 0.1rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  font-weight: light;
  color: #5c6357;
}

@media (max-width: 973px) {
.Container{
  width: 80%;
}

  .content h2{
    letter-spacing: 0;
    font-size: 1.8rem;
}

.content h3{
  letter-spacing: 0;
font-size: 1rem;
}

.content p{
    font-size: .8rem;
}
}

