:root {
    --dark-grey: #5C6357;
    --grey: #7D887A;
    --light-grey:#C2CDD3;
    --green: #77A6A1;
    --blue: #488EAD;
    --pink: #9A806F;
    --yellow: #DBB346;
    --orange:#C69E30;
    --light-pink: #F4E8C7;
    --lavendar: #9895C7;
    --red: #c1121f;
    --yellow-rgb: 255, 215, 0;
    --brown:#7A604F;
}