.wrapper {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  background-color: white;
  margin: 1rem;
  margin-bottom: 10rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.title h3 {
  font-size: 1.8rem;
  color: var(--dark-grey);
}

.originImg {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  mix-blend-mode: multiply;
  margin: 0 1rem;
}

.main {
  margin: 0.5rem 1rem;
}

.details {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  margin: 1rem;
}

.details svg {
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
}

.details svg:hover {
    color: black;
    transition: 0.3s ease;
    }

.ayah {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 0 1rem;
}

.ayah h4 {
  font-size: 2rem;
  color: black;
  text-align: end;
  font-weight: 400;
  letter-spacing: 0.1rem;
  /* margin-left: 20rem; */
}

.arabic{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.ayah p {
  text-align: end;
  font-size: 1.2rem;
  text-align: justify;
  letter-spacing: 0.075rem;
  font-weight: lighter;
}

.buttons {
  display: flex;
  gap: 3rem;
  color: var(--grey);
  margin: 1rem;
}

.buttons svg {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.buttons svg:hover {
  color: black;
  transition: 0.3s ease;
  }

.diamondWrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #7A604F; /* same shade as in your screenshot */
}

.diamond {
  width: 5px;
  height: 5px;
  background-color: #7A604F;
  transform: rotate(45deg); /* makes it a diamond */

}

@media (max-width: 768px) {
  .title h3 {
    font-size: 1.4rem;
  }
  
  .originImg {
    width: 20px;
    height: 20px;
  }
  
  .main {
    margin: 0.5rem 1rem;
  }
   
  .details svg {
    width: 1rem;
    height: 1rem;
  }
  
  .ayah {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 1rem;
  }
  
  .ayah h4 {
    font-size: 1.5rem;
  }

  .ayah p {
    font-size: 1rem;
  }
  
  .buttons {
    gap: 2rem;
    margin: 1rem;
  }
  
  .buttons svg {
    width: 1rem;
    height: 1rem;
  }
}

@media (max-width: 500px) {
  .title h3 {
    font-size: 1.4rem;
  }
  
  .originImg {
    width: 20px;
    height: 20px;
  }
  
  .main {
    margin: 0.5rem 1rem;
  }
   
  .details svg {
    width: .9rem;
    height: .9rem;
  }
  
  .ayah {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0 1rem;
  }
  
  .ayah h4 {
    font-size: 1.5rem;
  }

  .ayah p {
    font-size: .9rem;
  }
  
  .buttons {
    gap: 1rem;
    margin: 1rem;
  }
  
  .buttons svg {
    width: 1rem;
    height: 1rem;
  }
}