.CardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 20px;
  margin: 0;
}

.card {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  border: 1px solid #c2cdd3;
  background-color: #fff;
  box-shadow: none !important;
  border-radius: 0 1.2rem !important;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.cardContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.labelSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-right: 4rem;
}

.right span {
  font-family: var(--roboto) !important;
  display: flex;
  align-items: center;
  font-size: 1.1rem !important;
  color: black !important;
}

.arabicText {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
  color: black;
}

.englishText {
  font-family: var(--roboto) !important;
  display: flex;
  align-items: center;
  font-size: 1.1rem !important;
  color: black !important;
}

.index {
  background: #d9d9d9;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem;
  transition: background-color 0.3s ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 1px #DBB346 !important;
  background: rgba(219, 179, 70, 0.3);

  .index {
    color: white;
    background-color: #DBB346;
  }
}

.contentGrid {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  margin-top: 1rem;
}

@media (max-width: 1100px) {
  .right {
    width: 40%;
  }
}

@media (max-width: 780px) {
  .CardContainer {
    padding: 20px 10px;
  }
  .labelSection {
    gap: 2rem;
  }

  .right {
    width: 30%;
  }
}

@media (max-width: 620px) {
  .right {
    margin-right: 2rem;
  }

  .arabicText {
    font-size: 1.4rem !important;
    font-weight: 500 !important;
  }

  .englishText,
  .right span {
    font-size: 1rem !important;
  }
}

@media (max-width: 530px) {
  .CardContainer {
    padding: 0 0px;
  }

  .arabicText {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
  }

  .englishText,
  .right span {
    font-size: 0.9rem !important;
  }
}

@media (max-width: 480px) {
  .right {
    width: 30%;
  }

  .labelSection {
    gap: 1rem;
  }

  .index {
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
  }

  .arabicText {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .englishText,
  .right span {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 400px) {
  .right {
    width: 25%;
    margin-right: 1rem;
  }

  .labelSection {
    gap: 0.8rem;
  }
}

@media (max-width: 360px) {
  .right {
    width: 25%;
    margin-right: 0.5rem;
  }

  .arabicText {
    font-size: 1rem !important;
    font-weight: 400 !important;
  }

  .englishText,
  .right span {
    font-size: 0.7rem !important;
  }
}
