.card {
  background: #ffffff;
  border-radius: 0 1.3rem;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--light-grey);
  cursor: pointer;
}

.header {
  display: flex;
  gap: 0.2rem;
}

.activeCard {
  background: #e8f4ff;
  border-left: 4px solid #DBB346;
}

.number {
  background: #d9d9d9;;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1rem;
}

.activeCard .number {
  background: #DBB346;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 10px;
}

.title h3 {
  font-size: 1.2rem;
  margin: 0;
  color: black;
  font-weight: normal;
}

.title p {
  font-size: 0.8rem;
  color: rgb(0, 0, 0,0.40);
  margin: 2px 0 0;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.3rem;
}

.details p {
  color: #CE800D;
  font-size: 1rem;
}

.details span {
  color: rgb(0, 0, 0,0.50);
  font-size: 0.9rem;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border: solid 1px #DBB346;
  background: rgba(219, 179, 70, 0.3);
  color: white;

  .number {
    color: white;
    background-color: #DBB346;
  }

  .title h3 {
    color: black;
  }
  .title p {
    color: var(--dark-grey);
  }
}

 @media (max-width: 1280px) {
  .card {
    padding: 12px 0.5rem;
  }

  .number {
    font-size: 1rem;
    padding: 0.3rem 1rem;
  }

  .title h3 {
    font-size: 1rem;
  }

  .title p {
    font-size: 0.7rem;
  }

  .details p {
    font-size: 0.9rem;
  }

  .details span {
    font-size: 0.7rem;
  }
}

 @media (max-width: 600px) {
  .number {
   font-size: 1.5rem;
  }

  .title h3 {
  font-size: 1.2rem;
  }

  .title p {
    font-size: 0.8rem;
  }

  .details p {
    font-size: 1rem;
  }

  .details span {
    font-size: .9rem;
  }
}

@media (max-width: 400px) {
  .number {
   font-size: 1.2rem;
   padding: 0.3rem .6rem;
  }

  .title h3 {
  font-size: 1rem;
  }

  .title p {
    font-size: 0.7rem;
  }

  .details p {
    font-size: .9rem;
  }

  .details span {
    font-size: .8rem;
  }
}