.wrapper {
  display: flex;
  justify-content: center;
  margin: 2rem 1rem 1rem 1rem;
}

.container {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.main h2 {
  margin: 0 1rem;
  color: #7a604f;
  font-weight: medium;
}

.main p{
  margin: 1rem;
  color: var(--yellow);
  font-size: 1.2rem;
    font-weight: bold;
}

.listContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem 1rem;
  overflow-x: scroll;
  overflow-y: hidden; /* prevent vertical scroll if not needed */
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;
}
.listContainer::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.listContainer li {
  width: max-content;
  padding: 0.2rem 1rem;
  border: solid 1px #c2cdd3;
  border-radius: 5px;
  font-size: 1rem;
  color: rgba(193, 159, 136, 0.89);
  cursor: pointer;
}

.listContainer li:hover {
  background-color: rgba(193, 159, 136, 0.89);
  color: white;
  border: solid 1px rgba(193, 159, 136);
}

.container hr {
  width: 100%;
  color: var(--light-grey);
}

/* @media (max-width: 1040px) {
  .container h2 {
    font-size: 1rem;
  }
  .listContainer ul li {
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 2rem 2rem;
  }

  .container h2 {
    font-size: 1.3rem;
    margin: 0 1rem;
  }
  .listContainer ul li {
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
  }
} */
