.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: #1c3d3d;
}

.breadcrumb .link {
  text-decoration: none;
  color: #1c3d3d;
}

.breadcrumb .link:hover {
  text-decoration: underline;
}

.breadcrumb .current {
  text-decoration: underline;
}

.current :global(.MuiTypography-root) {
    display: flex;
  align-items: center;
  justify-content: center;
    font-size: 1.2rem;
      text-decoration: underline;
}

.breadcrumb :global(.MuiTypography-root) {
      display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.breadcrumb :global(.MuiBreadcrumbs-ol){
  justify-content: center;
}

.breadcrumb :global(.MuiSvgIcon-root) {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .breadcrumb :global(.MuiTypography-root) {
    font-size: 1rem; /* Change this to your desired font size */
  }

  .breadcrumb :global(.MuiSvgIcon-root) {
  font-size: .8rem;
}

  .current :global(.MuiTypography-root) {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .breadcrumb :global(.MuiTypography-root) {
    font-size: 0.8rem;
  }

    /* .breadcrumb :global(.MuiSvgIcon-root) {
  font-size: .7rem;
} */

  .current :global(.MuiTypography-root) {
    font-size: 0.8rem;
  }
}

@media (max-width: 395px) {
    .breadcrumb :global(.MuiSvgIcon-root) {
      width: .8em;
      height: .8em;
  font-size: .7rem;
}

.breadcrumb :global(.MuiBreadcrumbs-separator) {
      margin-left: 4px;
    margin-right: 4px
}
}

@media (max-width: 360px) {
    .breadcrumb :global(.MuiSvgIcon-root) {
  font-size: .6rem;
}

.breadcrumb :global(.MuiBreadcrumbs-separator) {
      margin-left: 3px;
    margin-right: 3px
}
  .breadcrumb :global(.MuiTypography-root) {
  font-size: .7rem;
}

  .current :global(.MuiTypography-root) {
    font-size: .7rem;
  }
}
