.wrapper {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .bgImage {
    background-image:url(../../../public/Images/homeAboutBg.png);
    height: 40rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}

.main {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 60%;
    color: white;
    gap: 1rem;
    margin-left: 2rem ;
}

.content h4{
    font-size: 2.5rem;
}

.content p {
    font-size: 1.3rem;
}

.image{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* mix-blend-mode: multiply; */
}

/* .image img{
    width: 400px;
    height: 550px;
} */


@media (max-width: 973px) {

    .content {
        width: 80%;
    }

    .content h4{
        font-size: 2rem;
    }
    
    .content p {
        font-size: 1.2rem;
    }
}

@media (max-width: 48rem) {
    .bgImage {
        height: 35rem;
        width: 100%;
    }

    .content {
        width: 90%;
        margin-left: 1rem ;
    }
    .content h4{
        font-size: 1.8rem;
    }
    
    .content p {
        font-size: 1rem;
    }
}
