.wrapper {
  display: flex;
  justify-content: center;
  z-index: 1000;
  background-color: transparent;
  color: var(--dark-grey);
  /* height: 3rem; */
}

.wrapperOther {
  background-color: white;
  color: var(--dark-grey);
  height: 3rem;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: 1rem 3rem;
  height: 3rem;
}

.navlinks ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  transition: color 0.3s ease-in-out;
}

.navlinks li {
  font-size: 1.2rem;
}

.icons {
  width: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons svg {
  width: 1.5rem;
  height: 1.5rem;
}

.linkActive {
  color: var(--yellow);
}

.navlinks li:hover {
  transition: 0.15s ease-in;
  color: var(--yellow);
}

.icons svg:hover {
  transition: 0.15s ease-in;
  color: var(--yellow);
}

.hamburger_menu {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 1rem;
  cursor: pointer;
}

.hamburger_menu span {
  display: block;
  width: 100%;
  white-space: nowrap;
  height: 3px;
  background: var(--dark-grey);
}

@media (min-width: 769px) {
  .menu_btn {
    display: none;
  }
}

@media (max-width: 1150px) {
  .container {
    padding: 1rem 2rem;
  }

  .navlinks ul {
    gap: 2rem;
  }

  .navlinks li {
    font-size: 1rem !important;
    margin: 0 !important;
  }

  .icons {
    width: 15%;
  }

  .icons svg {
    width: 1.3rem;
    height: 1.3rem;
  }
}

@media (max-width: 973px) {
  .menu_btn {
    grid-area: hamburger;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navlinks {
    display: none;
  }
  .icons {
    width: 25%;
  }

    .icons svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 1rem 1.5rem;
  }

  .menu_btn {
    grid-area: hamburger;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navlinks {
    display: none;
  }

  .icons {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .hamburger_menu {
  width: 1.3rem;
  height: 1.3rem;
}
      .icons svg {
    width: 1.2rem;
    height: 1.2rem;
  }

}

@media (max-width: 450px) {

   .hamburger_menu {
  width: 1.2rem;
  height: 1.2rem;
}
    .icons {
    width: 50%;
  }
      .icons svg {
    width: 1rem;
    height: 1rem;
  }
}
